<html>
<head>
    <title>Endless TTT</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>

<div id="app">

    <h2>Endless TTT</h2>

    <div v-for="row,i in rows">
        <button class="cell"
                v-for="cell,j in row"
                :disabled="cell !== ' ' || !stompClient"
                :class="{enabled: cell === ' ' && !!stompClient}"
                @click="send(i,j)">
            {{ cell }}
        </button>
    </div>

    <!-- v-if="!stompClient" -->
    <div
         style="margin-top: 49px">
        Lost connection?
        <button @click="connect()">Reconnect</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="/stomp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="/main.js"></script>

</body>
</html>
